.footer {
    background: #4d5354;
    padding: 30px 20px;
}

.footer-heading {
    color: #ffc107;
    font-weight: 700 !important;
}
.footer-sub-heading{
    color: #d5d5d5;
    font-weight: 700 !important;
    padding: 12px 0px 0px 0px  !important
}
.footer-menu-item{
    padding: 4px 0px !important;
    min-height: 0px !important
}
.footer-list-item-icon-container{
    min-width: 13px !important;
}
.footer-list-item-icon{
    fill: #d5d5d5 !important;
    font-size: 12px !important;
}
.footer-list-item-text{
    color: #d5d5d5;
    font-size: 12px !important;
}
.social-icon-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media screen and (max-width: 599px) {
    .social-icon-container {
        justify-content: flex-start;

    }
}
.social-icon-button{
    padding: 7px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #585858 !important;
    border: 1px solid #d5d5d5 !important;
    border-radius: 50% !important;
    min-width: 0 !important;
    margin-left: 10px !important
}
.social-icon{
    fill: #dcdcdc !important;
    font-size: 16px !important
}
